	::selection{ background-color: #E13300; color: white; }
	::moz-selection{ background-color: #E13300; color: white; }
	::webkit-selection{ background-color: #E13300; color: white; }

	body {
		background-color: #fff;
		margin: 5px 40px 5px 40px;
		font: 13px/20px normal Helvetica, Arial, sans-serif;
		color: #4F5155;
	}

	a {
		color: #003399;
		background-color: transparent;
		font-weight: normal;
	}

	h1 {
		color: #444;
		background-color: transparent;
		border-bottom: 1px solid #D0D0D0;
		font-size: 19px;
		font-weight: normal;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
	}

	code {
		font-family: 'Arial';
		font-size: 17px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #262C5C;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
		
	}

	#body{
		margin: 0 15px 0 15px;
	}
	
	p.footer{
		text-align: right;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
	}
	
	#container{
		margin: 0px;
		border: 1px solid #D0D0D0;
		-webkit-box-shadow: 0 0 8px #D0D0D0;
	}
	
	
/*  Retreiving data Table heading from database */
tr#Theading{
      font-family: 'Arial';
		font-size: 17px;
		background-color: #f9f9f9;
		color: #262C5C;
		 
	}
	th#Theading{
      font-family: 'Arial';
		font-size: 14px;
		background-color: #f9f9f9;
		color: #262C5C;
		margin: 0px 0 0px 0;
		padding: 5px 5px 5px 5px;
		border: 1px solid #D0D0D0;
	}
td#Theading{
background-color:#66bbee;
color:#ffffff;
font-size:14px;
font-weight:bold;
padding-left:5px;
padding-right:5px;
}
/*  Retreiving data Table values from database */
tr#Tvalues{
background-color:#ffffcc;
color:#222222;
font-size:14px;
font-weight:normal;
}

tr#Tvalues:hover{
background-color:#cccccc;
color:#222222;
font-size:14px;
font-weight:normal;
}


/* menu bar */
a#menu{
background-color: transparent;
text-decoration:none;
color:#ffffff;
}

div#menu{
background-color:#262C5C;
margin: 0px 0 0px 0;
padding: 5px 5px 5px 5px;
border: 1px solid #D0D0D0;
border-radius:10px 10px 0px 0px;
font-family: 'Arial';
font-size: 17px;
color:#ffffff;
}
div#menu:hover{
background-color:#ff9900;
margin: 0px 0 0px 0;
padding: 5px 5px 5px 5px;
border: 1px solid #D0D0D0;
border-radius:10px 10px 0px 0px;
font-family: 'Arial';
font-size: 17px;
color:#ffffff;
}



/* button */


div#button{
background-color:#262C5C;
margin: 0px 0 0px 0;
padding: 5px 5px 5px 5px;
border: 1px solid #D0D0D0;
border-radius:10px 10px 10px 10px;
font-family: 'Arial';
font-size: 17px;
color:#ffffff;
}
div#button:hover{
background-color:#ff9900;
margin: 0px 0 0px 0;
padding: 5px 5px 5px 5px;
border: 1px solid #D0D0D0;
border-radius:10px 10px 10px 10px;
font-family: 'Arial';
font-size: 17px;
color:#ffffff;
}

